<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Browse events to apply to your goal!
    </h1>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
Drip will save for you whenever:
        </th>
        
        <th>
         Popularity:
        </th>

        <th>
        </th>
      </tr>

      <% @events.each do |event| %>
      <tr>
       
        <td>
           <%= event.name %>
        </td>

        <td>
          <span class="badge badge-primary badge-pill"><%=CustomizedPreference.where(event_id: event.id).count%></span>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>
